<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Two Joker</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="balance_field block"></div>
        <div class="name block">
          <div>Player's name</div>
          <input type="text" placeholder="Tap to enter"/>
        </div>
      </div>
      <div class="card_cont"></div>
    </div>
    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>
