@font-face {
  font-family: "Inter";
  src: url("../Inter-V.ttf");
}

body {
  background-image: url("../png/back.png");
  background-size: cover;
  background-position: center;

  height: 100vh;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #fff;
  text-align: center;

  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #fff;
}

.hidden {
  opacity: 0;
}

.button {
  width: 119px;
  height: 68px;
  line-height: 68px;
  background: linear-gradient(180deg, #015eb6 0%, #6bb7ff 49.48%, #00386d 100%);
  border-radius: 10px;
}

.block {
  background: linear-gradient(#000 100%, #000 100%) padding-box,
    linear-gradient(180deg, #a2772c 0%, #d3bb8c 100%) border-box;
  border: 3px solid transparent;
}

.balance_field, .name {
  width: 146px;
  height: 54px;
  line-height: 27px;
  border-radius: 10px;
}

.balance {
  font-size: 24px;
}

.balance.anim {
  color: greenyellow;
}